body {
    margin: 0;
    padding: 0;

}
.Navbar {
    background-image: url("https://images.unsplash.com/photo-1438401817917-ee9dc33fe6af?q=80&w=1076&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-position: center;
    height: 500px;
    position: relative;
    background-size: cover;
}

.hero-content {
    position: absolute; /* Saca el elemento del flujo normal del documento */
    top: 50%; /* Lo mueve al 50% desde arriba del contenedor padre */
    left: 50%;  /*Lo mueve al 50% desde la izquierda del contenedor padre */
    transform: translate(-50%, -50%); /* Ajusta el elemento hacia arriba y a la izquierda en un 50% de su propio tamaño, centrándolo perfectamente */
    text-align: center; /* Centra el texto dentro de hero-content */
    color: white;
}

/* Estilos para el título y botón dentro de .hero-content */
.hero-content h1 {
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.hero-content input[type="button"] {
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    background-color: #f0ad4e;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.hero-content input[type="button"]:hover {
    background-color: #ec971f;
}